<div class="container-fluid ps-5 pt-3">
    <div class="">
      <div class="fs-3">Hello <span class="text-uppercase">Bien</span>  👋</div>
      <div class="pt-2 text-body-tertiary s-font ">Monitor team performance and track daily operations</div>
    </div>
    <div class="row mt-3 ">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="p-3 border rounded box-content">
              <div class="card-icon bg-primary-subtle rounded">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a" fill="none">
                    <path d="M17 8.5C17 5.73858 14.7614 3.5 12 3.5C9.23858 3.5 7 5.73858 7 8.5C7 11.2614 9.23858 13.5 12 13.5C14.7614 13.5 17 11.2614 17 8.5Z" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M19 20.5C19 16.634 15.866 13.5 12 13.5C8.13401 13.5 5 16.634 5 20.5" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <div class="s-font text-body-secondary mt-3">Top Perfoming Agent</div>
              <div class="fs-5 fw-bold text-body-secondary">Joshua Baraka</div>
                
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="p-3 border rounded box-content">
              <div class="card-icon bg-warning-subtle rounded">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a" fill="none">
                    <path d="M8 16H15.2632C19.7508 16 20.4333 13.1808 21.261 9.06908C21.4998 7.88311 21.6192 7.29013 21.3321 6.89507C21.045 6.5 20.4947 6.5 19.3941 6.5H6" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M8 16L5.37873 3.51493C5.15615 2.62459 4.35618 2 3.43845 2H2.5" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M8.88 16H8.46857C7.10522 16 6 17.1513 6 18.5714C6 18.8081 6.1842 19 6.41143 19H17.5" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10.5" cy="20.5" r="1.5" stroke="#4a4a4a" stroke-width="1.5"></circle>
                    <circle cx="17.5" cy="20.5" r="1.5" stroke="#4a4a4a" stroke-width="1.5"></circle>
                </svg>
              </div>
              <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                <div class="s-font text-body-secondary">Regional Orders</div>
                <div class="s-font text-success">Today</div>
              </div>
              <div class="fs-5 fw-bold text-body-secondary">7000</div>
                
            </div>
        </div>
         <div class="col-12 col-sm-6 col-md-3">
            <div class="p-3 border rounded box-content">
              <div class="card-icon bg-info-subtle rounded">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a" fill="none">
                    <path d="M5.00018 20.0001L4.99994 14.0001" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M4.99994 11.0001V4.00006" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M8.99994 8.00006H14.9999" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M1.99994 14.0001H7.99994" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M15.9999 12.0001H21.9999" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M11.9997 8.00006L11.9999 4.00006" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M12.0002 20.0001L11.9999 11.0001" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M18.9999 12.0001L18.9999 4.00006" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M19.0002 20.0001L18.9999 15.0001" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                </svg>
              </div>
              <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                <div class="s-font text-body-secondary">Order Target</div>
                <div class="s-font text-success">This Month</div>
              </div>
              <div class="fs-5 fw-bold text-body-secondary">10000</div>
                
            </div>
        </div>
         <div class="col-12 col-sm-6 col-md-3">
            <div class="p-3 border rounded box-content">
              <div class="card-icon bg-danger-subtle rounded">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a" fill="none">
                    <circle cx="5" cy="12" r="3" stroke="#4a4a4a" stroke-width="1.5"></circle>
                    <path d="M22 12L12 12M22 12C22 12.562 21.5619 12.9893 20.6857 13.8437L19.0294 15.5001M22 12C22 11.4379 21.5619 11.0107 20.6857 10.1563L19.0296 8.50012" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                <div class="s-font text-body-secondary">Outlet Visitations</div>
                <div class="s-font text-success">Today</div>
              </div>
              <div class="fs-5 fw-bold text-body-secondary">35</div>
                
            </div>
        </div>
    
        
    
        
    
    </div>

    <div class="mt-5 border p-3 rounded">
        <div>List of Field Members</div>
        <div class="mt-3">
            <table class="table table-responsive table-borderless table-hover align-middle ">
                <thead class="border-bottom border-light-subtle ">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Check in status</th>
                        <th scope="col">Task completion Rate</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <th scope="row">1</th>
                        <td class="text-secondary">John Doe</td>
                        <td class="text-secondary">
                            <span class="rounded-pill text-success bg-success-subtle px-3 py-2">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" color="#198754"
                                        fill="none">
                                        <path d="M5 14L8.5 17.5L19 6.5" stroke="#198754" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span>Checked In</span>
                            </span>
                        </td>
                        <td class="text-secondary">80%</td>
                        <td ><button class="btn btn-primary btn-sm">View</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td class="text-secondary">Bien Aime</td>
                        <td class="text-secondary">
                            <span class="rounded-pill text-body bg-warning-subtle px-3 py-2">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" color="#4a4a4a" fill="none">
                                        <path d="M18 6L6.00081 17.9992M17.9992 18L6 6.00085" stroke="#4a4a4a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span>Checked In</span>
                            </span>
                        </td>
                        <td class="text-secondary">0%</td>
                        <td><button class="btn btn-primary btn-sm">View</button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td class="text-secondary">Coster Ojwang</td>
                        <td class="text-secondary">
                            <span class="rounded-pill text-success bg-success-subtle px-3 py-2">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" color="#198754"
                                        fill="none">
                                        <path d="M5 14L8.5 17.5L19 6.5" stroke="#198754" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span>Checked In</span>
                            </span>
                        </td>
                        <td class="text-secondary">50%</td>
                        <td ><button class="btn btn-primary btn-sm">View</button></td>
                    </tr>
                </tbody>
            </table>
    
        </div>
    </div>
</div>