<div class="container-fluid w-25 mx-auto d-flex flex-column gap-3">
    <div class="mt-5">
        <div class="fs-4 fw-medium">Sign in</div>
        <div class="text-secondary s-font">Please choose an account to sign in</div>
    </div>
    <div class="d-flex flex-row align-items-center gap-2">
         <div><button type="button" class="btn btn-primary text-nowrap" (click)="login('COUNTRY_MANAGER')">General Manager</button></div>
         <div><button type="button" class="btn btn-warning text-nowrap" (click)="login('REGIONAL_MANAGER')">Regional Manager</button></div>
         <div><button type="button" class="btn btn-success text-nowrap" (click)="login('FIELD_MEMBER')">Field Agent</button></div>
    </div>
    
   
</div>