<div class="container-fluid ps-5 pt-3">
    <div class="">
      <div class="fs-3">Hello <span class="text-uppercase">Aloo</span>  👋</div>
      <div class="pt-2 text-body-tertiary s-font ">Monitor team performance and track daily operations</div>
    </div>
    <div class="row mt-3 ">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="p-3 border rounded box-content">
              <div class="card-icon bg-primary-subtle rounded">
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a" fill="none">
                    <path d="M22 10V9.21749C22 7.27787 22 6.30807 21.4142 5.7055C20.8284 5.10294 19.8856 5.10294 18 5.10294H15.9214C15.004 5.10294 14.9964 5.10116 14.1715 4.68834L10.8399 3.02114C9.44884 2.32504 8.75332 1.97699 8.01238 2.00118C7.27143 2.02537 6.59877 2.41808 5.25345 3.20351L4.02558 3.92037C3.03739 4.49729 2.54329 4.78576 2.27164 5.26564C2 5.74553 2 6.32993 2 7.49873V15.7157C2 17.2514 2 18.0193 2.34226 18.4467C2.57001 18.731 2.88916 18.9222 3.242 18.9856C3.77226 19.0808 4.42148 18.7018 5.71987 17.9437C6.60156 17.429 7.45011 16.8944 8.50487 17.0394C9.38869 17.1608 10.21 17.7185 11 18.1138" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M8 2L8 17" stroke="#4a4a4a" stroke-width="1.5" stroke-linejoin="round"></path>
                    <path d="M15 5V9.5" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M18.3083 21.6835C18.0915 21.8865 17.8017 22 17.5001 22C17.1985 22 16.9087 21.8865 16.6919 21.6835C14.7063 19.813 12.0455 17.7235 13.3431 14.6898C14.0447 13.0496 15.7289 12 17.5001 12C19.2713 12 20.9555 13.0496 21.6571 14.6898C22.9531 17.7196 20.2988 19.8194 18.3083 21.6835Z" stroke="#4a4a4a" stroke-width="1.5"></path>
                    <path d="M17.5 16.5H17.509" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <div class="s-font text-body-secondary mt-3">Top Perfoming region</div>
              <div class="fs-5 fw-bold text-body-secondary">Nairobi</div>
                
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="p-3 border rounded box-content">
              <div class="card-icon bg-warning-subtle rounded">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a" fill="none">
                    <path d="M8 16H15.2632C19.7508 16 20.4333 13.1808 21.261 9.06908C21.4998 7.88311 21.6192 7.29013 21.3321 6.89507C21.045 6.5 20.4947 6.5 19.3941 6.5H6" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M8 16L5.37873 3.51493C5.15615 2.62459 4.35618 2 3.43845 2H2.5" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M8.88 16H8.46857C7.10522 16 6 17.1513 6 18.5714C6 18.8081 6.1842 19 6.41143 19H17.5" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10.5" cy="20.5" r="1.5" stroke="#4a4a4a" stroke-width="1.5"></circle>
                    <circle cx="17.5" cy="20.5" r="1.5" stroke="#4a4a4a" stroke-width="1.5"></circle>
                </svg>
              </div>
              <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                <div class="s-font text-body-secondary">Total Order Value</div>
                <div class="s-font text-success">Today</div>
              </div>
              <div class="fs-5 fw-bold text-body-secondary">570,000</div>
                
            </div>
        </div>
         <div class="col-12 col-sm-6 col-md-3">
            <div class="p-3 border rounded box-content">
              <div class="card-icon bg-info-subtle rounded">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a" fill="none">
                    <path d="M5.00018 20.0001L4.99994 14.0001" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M4.99994 11.0001V4.00006" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M8.99994 8.00006H14.9999" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M1.99994 14.0001H7.99994" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M15.9999 12.0001H21.9999" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M11.9997 8.00006L11.9999 4.00006" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M12.0002 20.0001L11.9999 11.0001" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M18.9999 12.0001L18.9999 4.00006" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M19.0002 20.0001L18.9999 15.0001" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                </svg>
              </div>
              <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                <div class="s-font text-body-secondary">Order Target</div>
                <div class="s-font text-success">This Month</div>
              </div>
              <div class="fs-5 fw-bold text-body-secondary">20000</div>
                
            </div>
        </div>
         <div class="col-12 col-sm-6 col-md-3">
            <div class="p-3 border rounded box-content">
              <div class="card-icon bg-danger-subtle rounded">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a" fill="none">
                    <circle cx="5" cy="12" r="3" stroke="#4a4a4a" stroke-width="1.5"></circle>
                    <path d="M22 12L12 12M22 12C22 12.562 21.5619 12.9893 20.6857 13.8437L19.0294 15.5001M22 12C22 11.4379 21.5619 11.0107 20.6857 10.1563L19.0296 8.50012" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                <div class="s-font text-body-secondary">Outlet Visitations</div>
                <div class="s-font text-success">Today</div>
              </div>
              <div class="fs-5 fw-bold text-body-secondary">400</div>
                
            </div>
        </div>
    
        
    
        
    
    </div>

    <div class="mt-5 border p-3 rounded">
        <div>List of Regions</div>
        <div class="mt-3">
            <table class="table table-responsive table-borderless table-hover align-middle ">
                <thead class="border-bottom border-light-subtle ">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Region</th>
                        <th scope="col">Manager</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <th scope="row">1</th>
                        <td class="text-secondary">Nakuru</td>
                        <td class="text-secondary">John Doe</td>
                        <td ><button class="btn btn-primary btn-sm">View</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td class="text-secondary">Kakamega</td>
                        <td class="text-secondary">Bien Aime</td>
                        <td><button class="btn btn-primary btn-sm">View</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td class="text-secondary">Kisumu</td>
                        <td class="text-secondary">Coster Ojwang</td>
                        <td ><button class="btn btn-primary btn-sm">View</button></td>
                    </tr>
                </tbody>
            </table>
    
        </div>
    </div>
</div>