<div class="container-fluid ps-0 pe-0">
    <div class="row">
        <div class="col-lg-1 sidebar bg-light border-end collapse positioin-relative collapse-horizontal show" id="sidebar">
            <nav class="nav flex-column mt-3 py-1  custom-nav">

            </nav>
           
        </div>
        <div class="col" >
            <div class="resize-btn bg-light mt-2 pointer rounded d-flex align-items-center justify-content-center p-1" id="toggleSidebar" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Resize sidebar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" color="#4a4a4a" fill="none">
                    <path d="M20 17L4 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M17 14C17 14 20 16.2095 20 17C20 17.7906 17 20 17 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M5 7L20 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6.99998 4C6.99998 4 4.00001 6.20947 4 7.00002C3.99999 7.79058 7 10 7 10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>