.s-font{
    font-size: 13px;
}
.small-font{
    font-size: 13px;
    color: rgba(24,26,27,0.7);
}
.m-font{
    font-size: 14px;
}
.mid-font{
    font-size: 14px;
    color: #181A1B;
}
.sidebar{
    width: 250px;
    min-height: 94vh;
    height: inherit;
    // background-color: #f7f8f9;
}
.sidebar.collapse {
    transition: width 0.3s;
}
  
.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}
.custom-collapse{
    cursor: pointer;
    background-color: #f7f8f9;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}
.custom-collapse:hover{
    background-color: #d9d9d9;
}
.custom-nav{
    .navtitle{
        font-size: 13px;
        color: #42526e;
    }
    a{
        color: #42526e;
        svg{
            path{
                stroke: #42526e;
            }
        }
        
    }
    a:hover {
        background-color: rgba(2,74,185,0.11);
        color: #024AB9;
        svg{
            path{
                stroke:#024AB9;
            }
        }
        span{
            color: #024AB9;
        }
    }
    a.active {
        background-color: rgba(2,74,185,0.11);
        color: #024AB9;
        svg{
            path{
                stroke:#024AB9;
            }
        }
        span{
            color: #024AB9;
        }
      }
      
   
    .nav-link{
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span{
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center; 
        }
        
    }

}
.resize-btn{
    height: 23px;
    width: 23px;
}
.pointer{
    cursor: pointer;
  }
@media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }
    .toggleoff{
        display: none;
    }
    .colapsecontainer{
        display: none;
        
        .custom-collapse{
            display: none;
        }
    }
   
    

}