<div class="container-fluid ps-5 pt-3">
    <div class="">
      <div class="fs-3">Welcome back <span class="text-uppercase">{{data.name}}</span></div>
      <div class="pt-2 text-body-tertiary s-font ">Monitor team performance and track daily operations</div>
    </div>
    <div class="row mt-3 ">
    
        <div class="col-12 col-sm-6 col-md-4">
            <div class="p-4 bg-success rounded box-content d-flex flex-row align-items-center justify-content-between">
                <div class=" bg-white p-2 rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a"
                        fill="none">
                        <path d="M11 6L21 6" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M11 12L21 12" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M11 18L21 18" stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M3 7.39286C3 7.39286 4 8.04466 4.5 9C4.5 9 6 5.25 8 4" stroke="#4a4a4a" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3 18.3929C3 18.3929 4 19.0447 4.5 20C4.5 20 6 16.25 8 15" stroke="#4a4a4a"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="mx-5">
                    <div class="fs-5 text-body-secondary">{{data.todays_completed_tasks}}<span class="fs-4 fw-bold">/{{data.todays_total_tasks}}</span></div>
                    <div class="text-body-secondary">Tasks completed</div>
                </div>
                <div>Today</div>
    
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="p-4 bg-warning rounded box-content d-flex flex-row align-items-center justify-content-between">
                <div class=" bg-white p-2 rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a"
                        fill="none">
                        <path
                            d="M3.00006 12H7.34066C7.74069 12 8.10223 12.2384 8.25981 12.6061L10.8435 18.6348C10.9385 18.8563 11.1564 19 11.3974 19C11.7303 19 12.0001 18.7302 12.0001 18.3974V5.60262C12.0001 5.2698 12.2699 5 12.6027 5C12.8438 5 13.0616 5.14367 13.1566 5.36526L15.74 11.3939C15.8975 11.7616 16.2591 12 16.6591 12H20.9997"
                            stroke="#4a4a4a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="mx-5">
                    <div class="fs-4 fw-bold text-body-secondary">{{data.todays_order_value}}</div>
                    <div class="text-body-secondary">Total Sales</div>
                </div>
                <div>Today</div>
    
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="p-4 bg-primary rounded box-content d-flex flex-row align-items-center justify-content-between">
                <div class=" bg-white p-2 rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4a4a4a"
                        fill="none">
                        <path
                            d="M14.5002 4.5C14.5002 5.32843 13.8286 6 13.0002 6C12.1717 6 11.5002 5.32843 11.5002 4.5C11.5002 3.67157 12.1717 3 13.0002 3C13.8286 3 14.5002 3.67157 14.5002 4.5Z"
                            stroke="#141B34" stroke-width="1.5" />
                        <path
                            d="M19 8.89062L13.9777 8.29142M19 21L18.5438 17.5301C18.2903 15.6021 18.1636 14.6381 17.4915 14.1298C16.8194 13.6215 15.8722 13.7731 13.9777 14.0765L12.1402 14.3707M13.9777 8.29142L12.2231 8.08208C11.4204 7.98631 11.0191 7.93843 10.7146 8.14419C10.41 8.34995 10.299 8.74397 10.077 9.53203L9.4087 11.904C9.02319 13.2724 8.83044 13.9565 9.19196 14.3707C9.55348 14.7849 10.2465 14.674 11.6326 14.452L12.1402 14.3707M13.9777 8.29142L12.1402 14.3707"
                            stroke="#141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10 17L9.44721 18.1056C9.15692 18.6862 8.68616 19.1569 8.10557 19.4472L5 21"
                            stroke="#141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="mx-5">
                    <div class="fs-4 fw-bold text-body-secondary">{{data.todays_visitations}}</div>
                    <div class="text-body-secondary">Visitations made</div>
                </div>
                <div>Today</div>
    
            </div>
        </div>
    
    
    
    
    
    </div>

    <div class="mt-4 rounded ">
        <div>Todays schedule</div>

        <div class="mt-3">
            <mat-accordion class="shadow-none">
               
                <mat-expansion-panel *ngFor="let schedule of data.todays_schedule">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{schedule.store}}</mat-panel-title>
                        <mat-panel-description> {{schedule.startTime}}  - {{schedule.endTime}}</mat-panel-description>
                      
                    </mat-expansion-panel-header>
                    <div class="">
                        <div><span>✅</span> Stock taking</div>
                        <div><span>✅</span> Sales report</div>
                        <div><span>✅</span> Short expiry task</div>
                    </div>
                    
                </mat-expansion-panel>
              
            </mat-accordion>
        
        </div>
        
    </div>
</div>